@model MainViewModel 
@{ ViewBag.title = "Inicio"; }

<div class="uk-grid uk-padding" data-uk-grid>
    <div class="uk-width-1-3@m">
        <!-- card -->
        <div class="uk-card uk-card-hover uk-card-default uk-card-secondary uk-padding-remove uk-margin uk-margin-remove-top profiles-card">
            <div class="uk-card-header uk-background-cover uk-background-blend-multiply uk-background-primary uk-light" 
            style="@(Model.Profile.Background != null ? "background-image: url('"+Model.Profile.Background+"')" : "background-image: none")">
                <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                    <div class="uk-width-auto">
                        <!-- cyg.com/profiles -->
                        <a asp-controller="Profiles" asp-action="ViewProfile" asp-route-id="@Model.Profile.User.UserName">
                            <img width="40" height="40" alt="@Model.Profile.User.UserName" src="@(Model.Profile.Picture != null ? Model.Profile.Picture : "https://dt.azadicdn.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png?200")">
                        </a>
                    </div>
                    <div class="uk-width-expand">
                        <h2 class="uk-h4 uk-margin-remove-bottom">
                            <!-- cyg.com/profiles -->
                            <a asp-controller="Profiles" asp-action="ViewProfile" asp-route-id="@Model.Profile.User.UserName">@Model.Profile.User.UserName</a>
                        </h2>
                        <p class="uk-margin-remove-top">
                            @Model.Profile.Name @Model.Profile.Lastname
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-text-center" data-uk-grid>
                    <p class="" id="following-count">
                        <!-- cyg.com/profiles/following/id -->
                        <a asp-controller="Profiles" asp-action="Following" asp-route-id="@Model.Profile.User.UserName">Seguindo</a>
                        <br>@Model.FollowingCount</p>
                    <p class="" id="followers-count">
                        <!-- cyg.com/profiles/followers/id -->
                        <a asp-controller="Profiles" asp-action="Followers" asp-route-id="@Model.Profile.User.UserName">Seguidores</a>
                        <br>@Model.FollowersCount</p>
                </div>
            </div>
            <!-- cyg.com/blogs/create -->
            <a asp-controller="Blogs" asp-action="BlogManager" class="uk-button uk-background-primary uk-width-1-1">Criar blog</a>
        </div>
        <!-- end card -->
    </div>

    <div class="uk-width-2-3@m">
        @foreach (var blog in Model.Blogs) {
        <article class="uk-article">
            <h1 class="uk-article-title">
                <!-- cyg.com/Blogs/view/id -->
                <a asp-controller="Blogs" asp-action="ViewBlog" asp-route-id="@blog.Id" class="uk-link-reset coolvetica-rg">@blog.Title</a>
            </h1>
            <p class="uk-article-meta">Criado por
                <!-- cyg.com/profiles/view/id -->
                <a asp-controller="Profiles" asp-action="ViewProfile" asp-route-id="@blog.Profile.User.UserName" class="uk-text-primary">@blog.Profile.User.UserName</a>
                , @(blog.CreationTime.ToString("dd") + " de " + blog.CreationTime.ToString("MMMM") + " de " + blog.CreationTime.ToString("yyyy") + ", " + blog.CreationTime.ToString("H:mm")).
                <br/> 
                @if(blog.BlogTag.Count > 0)
                {
                    Html.Raw("Tags:");
                }
                @foreach (var tag in blog.BlogTag)
                {
                    <a asp-controller="Search" asp-action="index" asp-route-id="@tag.Tag.Description">@tag.Tag.Description</a>
                    
                }
            </p>

            <div class="ariticle-body">
                @blog.Description            
            </div>

            <div class="uk-grid-small uk-child-width-auto uk-margin-top" data-uk-grid>
                <div>
                    <!-- cyg.com/blogs/view/id -->
                    <a asp-controller="Blogs" asp-action="ViewBlog" asp-route-Id="@blog.Id" class="uk-button uk-button-text">Leia mais</a>
                </div>
                <div>
                    <!-- cyg.com/blogs/view/id#comments -->
                    <a asp-controller="Blogs" asp-action="ViewBlog" asp-route-Id="@blog.Id" asp-fragment="comments" class="uk-button uk-button-text">@blog.Commentaries.Count @(blog.Commentaries.Count == 1 ? "Comentário": "Comentários")</a>
                </div>
            </div>
        </article>
        <hr class="uk-divider-icon"> }


        <div class="uk-text-center uk-padding uk-margin-auto">
            <a class="uk-button uk-button-text uk-text-primary" href="blog.html">Carregar mais
                <span data-uk-icon="plus"></span>
            </a>
        </div>
    </div>
</div>