@using Microsoft.AspNetCore.Identity;
@model Blog 
@{ ViewBag.title = Model.Title; }

<article class="uk-article uk-padding">
    <h1 class="uk-article-title coolvetica-rg">@Model.Title</h1> 
    @if(Model.Profile.User.UserName == ViewBag.UserName){
        <a asp-action="BlogManager" asp-route-id="@Model.Id" uk-icon="icon: file-edit">Editar Blog</a> 
        <button  type="button" onclick="deleteBlog(@Model.Id)" uk-icon="icon: trash">Excluir Blog</button>
    }
    <p class="uk-article-meta">
        Criado por

        <a asp-controller="Profiles" asp-action="ViewProfile" asp-route-id="@Model.Profile.User.UserName" class="uk-text-primary">@Model.Profile.User.UserName</a>
        , @(Model.CreationTime.ToString("dd") + " de " + Model.CreationTime.ToString("MMMM") + " de " + Model.CreationTime.ToString("yyyy") + ", " + Model.CreationTime.ToString("H:mm")).
        
        <br/> 
        @if(Model.BlogTag.Count > 0){Html.Raw("Tags:");} 
        @foreach (var tag in Model.BlogTag) {
            <a asp-controller="" asp-action="index" asp-route-tag="@tag.Tag.Id">@tag.Tag.Description</a> 
        }
    </p>
    <p class="uk-text-lead">
        @Model.Description
    </p>

    @Html.Raw(Model.BlogText)    
</article>

@if(User.Identity.IsAuthenticated){
    await Html.RenderPartialAsync("CommentariesPartial");
}
@section Scripts {
    <script>
        function deleteBlog(id) {
            //UIkit.modal.confirm('Are you sure', { labels: { ok: 'Yeah', cancel: 'Nope' } });
            UIkit.modal.confirm('Deseja realmente deletar seu Blog?', { labels: { ok: 'Deletar', cancel: 'Cancelar' } }).then(function () {
                var url = "http://" + window.location.host + "/Blogs/Delete/" + id;
                window.location.href= url;
            }, function () {
                return false;
            });
        }
    </script>
}
